page-game-view {
  .home {
    background-color: rgb(164, 164, 164);
  }

  .question {
    color: white;
  }

  .category {
    color: white;
  }

  .cat-title {
    color: black;
  }

  .answers{
    background-color: white;
  }
}
